:root {
  --menuHeight: 64px;
  --menuWidth: 200px;
}

.error404{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--menuHeight) - 32px);
}

.appbar {
  height: var(--menuHeight);
  position: sticky;
  top: 0;
  z-index: 99;
}

.pageContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.navigationContainer {
  width: var(--menuWidth);
}

.navigation {
  margin: 8px;
  padding: 8px;
  position: fixed;
  top: var(--menuHeight);
  height: calc(100vh - var(--menuHeight) - 32px);
}

.page {
  margin: 8px;
  flex: 2;
}

.listItem {
  width: 100%;
  padding: 4px;
}

.loadScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
