:root {
  --menuHeight: 64px;
}

.appbar {
  height: var(--menuHeight);
  position: sticky;
  top: 0;
  z-index: 99;
}

.navigation {
  margin: 8px;
  padding: 8px;
  position: fixed;
  top: var(--menuHeight);
  height: calc(100vh - var(--menuHeight) - 32px);
}

.page {
  margin: 8px;
}

.listItem {
  width: 100%;
  padding: 4px;
}
